body {
    font-family: sans-serif;
    margin: 20px;
}
.encuesta {
    width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    margin-top: 10px;
}
input {
    margin-right: 5px;
}
#cajita {
    /*se pone 100% para que se ocupe el 100% del espacio*/
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: black;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}