#im2{
    width: 100px;
    height: 100px;
    margin-left: 600px;
}
section{
	margin-left: 550px;
}
#dt2{
    background-color: lightpink;
    margin-left: 570px;
    width: 180px;
    font-size: 20px;
}
button{
	background-color: greenyellow;
	width: 80px;
	margin-left: 620px;
}
