#titulo{
	font-size: 50px;
	margin-left: 500px;
	color: hotpink;
}
#im1{
	width: 100px;
	height: 100px;
	margin-left: 600px;
}
#tb{
	margin-left: 500px;
}
#im2{
	width: 100px;
	height: 100px;
	margin-left: 600px;
}
#e{
	margin-left: 600px;
}